@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/User/css/Home/IndexCSS.css" rel="stylesheet" />
<div class="row">
    <div class="row-box">
        <h5>
            <i class="fas fa-list"></i>
            DANH MỤC SẢN PHẨM
        </h5>
        <span>
            <i class="fas fa-map-marker-alt"></i>
            Địa chỉ: 123 Bình Giã, Vũng Tàu
        </span>
        <span>
            <i class="fas fa-phone-alt"></i>
            Hotline: 1900.0702
        </span>
    </div>
</div>
<div class="content-header">
    <div class="menu">
        <ul>
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/iPhone-(Apple)42-b_16.jpg"></a></li>
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Samsung42-b_25.jpg"></a></li>
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/OPPO42-b_57.jpg"></a></li>
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Xiaomi42-b_31.png"></a></li>
            <!--       <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Vivo42-b_50.jpg"></a></li> -->
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Huawei42-b_30.jpg"></a></li>
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Realme42-b_37.png"></a></li>
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Vsmart42-b_40.png"></a></li>
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Nokia42-b_21.jpg"></a></li>
            <!--       <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Mobell42-b_19.jpg"></a></li> -->
            <!--       <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Itel42-b_54.jpg"></a></li> -->
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Coolpad42-b_33.png"></a></li>
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Asus-(Zenfone)42-b_14.jpg"></a></li>
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/BlackBerry42-b_38.png"></a></li>
            <li><a href="#"><img src="//cdn.tgdd.vn/Brand/1/Mobiistar42-b_20.jpg"></a></li>
        </ul>
    </div>
    <div class="banner">
        <!--     <img src="https://cdn.tgdd.vn/2019/09/banner/thu-cu-note10-800-300-800x300-(1).png" alt=""> -->
        <img src="https://cdn.tgdd.vn/2019/09/banner/oppo-A9-800-300-800x300-(1).png" alt="">
        <!--     <img src="https://cdn.tgdd.vn/2019/09/banner/huawei-3i-white-800-300-800x300-(1).png" alt=""> -->
    </div>
</div>

<!-- end container -->

<div class="product">
    <div class="product-brand">
        <h4>ĐIỆN THOẠI IPHONE</h4>
        <a href="">Xem thêm</a>
    </div>
    <div class="product-row">
        <ul>
            @foreach (var p in Model)
            {
                <li>
                    <div class="product-box">
                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@p.Product_Id">
                            <div class="image">
                                <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                            </div>
                            <h5>@p.Product_Name</h5>
                            <div class="price">
                                <p>
                                    <b>@p.Product_Price₫</b>
                                    <span>22.000.000₫</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>


<div class="product">
    <div class="product-brand">
        <h4>ĐIỆN THOẠI IPHONE</h4>
        <a href="">Xem thêm</a>
    </div>
    <div class="product-row">
        <ul>
            <li>
                <div class="product-box">
                    <a href="#">
                        <div class="image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                        </div>
                        <h5>iPhone X 64GB</h5>
                        <div class="price">
                            <p>
                                <b>20.000.000₫</b>
                                <span>22.000.000₫</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <a href="#">
                        <div class="image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                        </div>
                        <h5>iPhone X 64GB</h5>
                        <div class="price">
                            <p>
                                <b>20.000.000₫</b>
                                <span>22.000.000₫</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <a href="#">
                        <div class="image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                        </div>
                        <h5>iPhone X 64GB</h5>
                        <div class="price">
                            <p>
                                <b>20.000.000₫</b>
                                <span>22.000.000₫</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <a href="#">
                        <div class="image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                        </div>
                        <h5>iPhone X 64GB</h5>
                        <div class="price">
                            <p>
                                <b>20.000.000₫</b>
                                <span>22.000.000₫</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <a href="#">
                        <div class="image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                        </div>
                        <h5>iPhone X 64GB</h5>
                        <div class="price">
                            <p>
                                <b>20.000.000₫</b>
                                <span>22.000.000₫</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>

            <li>
                <div class="product-box">
                    <a href="#">
                        <div class="image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                        </div>
                        <h5>iPhone X 64GB</h5>
                        <div class="price">
                            <p>
                                <b>20.000.000₫</b>
                                <span>22.000.000₫</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>

            <li>
                <div class="product-box">
                    <a href="#">
                        <div class="image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                        </div>
                        <h5>iPhone X 64GB</h5>
                        <div class="price">
                            <p>
                                <b>20.000.000₫</b>
                                <span>22.000.000₫</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>

            <li>
                <div class="product-box">
                    <a href="#">
                        <div class="image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                        </div>
                        <h5>iPhone X 64GB</h5>
                        <div class="price">
                            <p>
                                <b>20.000.000₫</b>
                                <span>22.000.000₫</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>

            <li>
                <div class="product-box">
                    <a href="#">
                        <div class="image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                        </div>
                        <h5>iPhone X 64GB</h5>
                        <div class="price">
                            <p>
                                <b>20.000.000₫</b>
                                <span>22.000.000₫</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>

            <li>
                <div class="product-box">
                    <a href="#">
                        <div class="image">
                            <img src="https://cdn.tgdd.vn/Products/Images/42/114115/iphone-x-64gb-21-400x400.jpg" alt="">
                        </div>
                        <h5>iPhone X 64GB</h5>
                        <div class="price">
                            <p>
                                <b>20.000.000₫</b>
                                <span>22.000.000₫</span>
                            </p>
                        </div>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</div> 