
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Admin/css/Dashboard/IndexCSS.css" rel="stylesheet" />

<div class="wrapper-content">
    <div class="analytics">
        <div class="box">
            <h4>TỔNG SẢN PHẨM</h4>
            <p>215</p>
        </div>

        <div class="box">
            <h4>SẢN PHẨM ĐÃ BÁN</h4>
            <p>215</p>
        </div>

        <div class="box">
            <h4>COMING SOON</h4>
            <p>215</p>
        </div>
    </div>
</div>
